{% extends "base.html" %}
{% block title %}{{ block.super }} | Your files{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Your files</h1>
</div>

<p>
<a class="btn btn-success" href="{% url 'conversion-add' %}">
<span class="glyphicon glyphicon-plus-sign"></span> Add file and convert</a>
<br></p>

{% if object_list %}
<table class="table table-bordered table-hover table-striped">
<tr>
    <th>File name</th>
    <th>Date</th>
    <th></th>
</tr>
{% for o in object_list %}
<tr>
    <td>{{ o.get_source_file_name }}</td>
    <td>{{ o.modified }}</td>
    <td>
    {% if o.converted_file %}
        <a href="/media/{{ o.converted_file }}">Download as {{ o.format_for_convertion }}</a>
    {% else %}
        File is not converted
    {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
There are no files yet in your list.
</div>
{% endif %}
{% endblock %}