{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Add new file{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Add new file</h1>
</div>
<form role="form" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">Upload and convert</button>
</div>
</form>
<script type="text/javascript">
    function hide_fields() {
        $("#div_id_csv_delimiter").hide();
        $("#div_id_csv_quotechar").hide();
        $("#div_id_xml_row_tag").hide();        
    }

    function update_fields() {
        var selected_format = $("#id_format_for_convertion").val();
        var filename = $("#id_source").val();
        hide_fields();
        if(selected_format === "csv" || filename.indexOf(".csv") > -1) {
            $("#div_id_csv_delimiter").show();
            $("#div_id_csv_quotechar").show();            
        }
        if(selected_format === "xml" || filename.indexOf(".xml") > -1) {
            $("#div_id_xml_row_tag").show();
        }
    }

    hide_fields();
    $("#id_format_for_convertion").on("change", update_fields);
    $("#id_source").on("change", update_fields);
</script>
{% endblock %}