{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Login{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">Login</button>
</div>
</form>
{% endblock %}